<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.kyslytsia.tct">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:orientation="vertical">

        <activity
            android:name=".MainActivity"
            android:label="@string/title_competition"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CalculatorActivity"
            android:label="@string/title_calculator"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".NewCompetitionActivity"
            android:label="@string/title_new_competition"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".StagesOnCompetitionActivity"
            android:label="@string/title_stage_on_competition"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".AddStageActivity"
            android:label="@string/title_add_stage"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".MembersActivity"
            android:label="@string/title_members"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".NewMemberActivity"
            android:label="@string/title_new_members"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".AttemptActivity"
            android:label="@string/title_attempt"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".DBHelpActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        
        <provider
            android:authorities="ua.kyslytsia.tct.database"
            android:name=".database.ContentProvider"
            android:exported="false">
        </provider>
    </application>

</manifest>